In [54]:
# Dependencies
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import csv
import os

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [55]:
# Read CSVs
stationDf = pd.read_csv("hawaii_stations.csv")
measurementsDf = pd.read_csv("hawaii_measurements.csv")
measurementsDf.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [56]:
measurementsCleanDf = measurementsDf.dropna()
measurementsCleanDf = measurementsCleanDf.reset_index()

stationDf.to_csv("clean_hawaii_stations.csv",index = False)
measurementsCleanDf.to_csv("clean_hawaii_measurements.csv", index = False)

In [57]:
# Database creation
import sqlalchemy
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [58]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [59]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [60]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [62]:
# Creating two classes - Station and Meausrement
class Station (Base):
    __tablename__ = 'Station'

    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
class Measurement (Base):
    __tablename__ = 'Measurement'

    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    precp = Column(Float)
    tobs = Column(Float)
   
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"